/*CSS reset settings here*/
*{
 margin: 10px;
 padding: 0px;
 height: auto;
 overflow: auto;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 10px auto;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation {
 float: left;
 width:80%;
 height: 300px;
 width: 200px;
 background-color: blue;
}
#main_content{
 float: right;
 width:20%;
 height: 400px;
 width: 710px;
 background-color: red;
 }
.subcontents{
 float:left;
 width:auto;
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin-top:20px;
 margin-bottom:20px;
}
#advertisement{
 height: 120px;
 width: 670px;
 background-color: purple;
}
